@import "tailwindcss";
@import "./components/ExchangeWidget/ExchangeWidget.scss";
@import "./components/ExchangeItem/ExchangeItem.scss";
@import "./components/CurrencyCard/CurrencyCard.scss";

@theme {
  --color-primary: #262e39;
  --color-secondary: #949494;
  --color-orange: #e16f2a;
  --color-green: #ace700;
  --color-green-darken: #a0d220;
  --color-grey: #f3f3f3;
  --font-primary: "Inter", sans-serif;
}

#root {
  @apply font-primary text-primary bg-white;
}

.wrapper {
  @apply bg-[#FAFAFA] border border-grey rounded-[20px] px-11.25 py-35 w-full;
  @apply flex gap-10 justify-between;
}

.card {
  @apply rounded-[30px] bg-white border border-grey p-7.5 flex-1;
}

.button {
  @apply bg-green border border-green-darken cursor-pointer;
  @apply hover:scale-[102%] hover:bg-grey transition-all duration-300;
}

.loader {
  @apply animate-spin;
}
